.pendant {
  .outerLine {
    width:0;
    height:0;
    border-top:30px solid transparent;
    border-bottom:30px solid transparent;
    border-left:30px solid rgba(195,185,185,0.7);
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .innerLine:hover {
    border-top:20px solid transparent;
    border-bottom:20px solid transparent;
    border-left:20px solid #fff;
  }
  .innerLine {
    width:0;
    height:0;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
    border-left:15px solid #fff;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
}
.action {
  display: flex;
  justify-content: space-around;
  .play {
    display: block;
    width: 20px;
    text-align: center;
    border-radius: 50%;
  }
  .delete {
    display: block;
    width: 20px;
    text-align: center;
  }  
}


