.search {
  display: flex;
  flex-direction: column;
  .nav {
    display: flex;
    height: 240px;
    width: 100%;
    background: #ededed;
    padding: 30px 5%;
    .bar {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 30px;
        color: #443f42;
      }
      .searcher {
        position: relative;
        input {
          height: 50px;
          width: 300px;
          border: none;
          outline: none;
          padding-left: 25px;
          padding-right: 60px;
          border-radius: 25px;
          transition: width .3s ease-in
        }
        input:focus {
          width: 400px;
        }
        span {
          position: absolute;
          top: 0;
          right: 0;
          height: 50px;
          line-height: 50px;
          width: 50px;
          background: #457374;
          border-radius: 25px;
          cursor: pointer;
          text-align: center;
          color: #fff;
          font-size: 20px;
          font-weight: 600;
        }
        span:hover {
          background: #443f42;
        }
      }
    }
  }
  .content {
    width: 100%;
    min-height: 400px;
    // background: #457374;
    padding: 30px 5%;
    .songsPannel {
      background: #fff;
    }
    .songListPannel{
      display: flex;
      flex-wrap: wrap;
      background: #fff;
      justify-content: space-around;
      .songList {
        width: 18%;
        margin: 0 15px 15px 0;       
      }

    }
    .albumPannel{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      background: #fff;
      .albumItem {
        width: 18%;
        margin: 0 0 20px 0;
        border-radius: 30px;
        .cover {
          position: relative;
          width: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          padding: 20px 0 10px 0;
          img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 1px solid #e7e7e7;
          }
          span {
            display: block;
            height: 30px;
            width: 30px;
            background: transparent;
            border: 2px solid #C9C9C9 ;
            border-radius: 50%;
            position: absolute;
            top: 65px;
          }
        }
        .info {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          padding-left: 10px;
          text-align: center;
          .title {
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
          }
          .description {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            color: #898989;
            font-size: 12px;
          }
        }

      }
    }
  }
}